DATABASE_URL=jdbc:postgresql://postgres:5432/tukumail
DATABASE_USER=tukumail
DATABASE_PASSWORD=change-me
TUKUMAIL_PROVISIONING_KEY=change-me-long-random-value
TUKUMAIL_CORS_ORIGIN=https://mail.tukutuku.org
TUKUMAIL_JAMES_WEBADMIN=http://james:8000
TUKUMAIL_IMAP_HOST=james
TUKUMAIL_IMAP_PORT=993
TUKUMAIL_SMTP_HOST=james
TUKUMAIL_SMTP_PORT=465
